/* Niveau 1 */




/* Niveau 2 */

.divExo6 {
    background-color: black;
    width: 75%;
}

.buttonCalculator {
    padding: 10%;
    background-color: rgb(131, 14, 14);
    border-color: rgb(131, 14, 14);
    color: white;
}

.buttonCalculator:hover {
    padding: 10%;
    background-color: yellowgreen;
    border: rgb(131, 14, 14);
}